name: Pipeline DevOps Lab API
on:
  push:
    branches: [ "main" ]
jobs:
  test-api:
    runs-on: ubuntu-latest
    steps:
      - name: Baixar codigo
        uses: actions/checkout@v3
      - name: Configurar Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.9"
      - name: Instalar dependencias
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt
      - name: Rodar Testes Unitarios
        run: pytest
  deploy-render:
    needs: test-api
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Acionar Deploy no Render
        run: curl -X POST ${{ secrets.RENDER_DEPLOY_HOOK }}